.active {
  width: 18rem;
}
.passive {
  width: 6rem;
  transition: all 0.6s ease;
  cursor: pointer;
}

.passive:hover {
  width: 18rem;
}
.ant-menu.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}
.menu-link {
  background: #f8f8f8;
}
.ant-menu-submenu-title svg {
  font-size: 22px !important;
}
.ant-menu-submenu-title {
  color: #5d596c !important;
  font-size: 18px !important;
}
.ant-menu-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px !important;
  font-size:18px  ;
}
.ant-menu-item svg{
    font-size:12px !important ;
    font-weight: bold;
}


.ant-menu-item-selected {
  @apply bg-gray-300 font-bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-menu-submenu-title {
  @apply text-gray-700 hover:bg-gray-200;
}

.custom-menu .ant-menu-item-selected {
 background: linear-gradient(72.47deg, #7367f0 22.16%, rgba(115, 103, 240, 0.7) 76.47%);
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .48);
  color: #fff !important;
}