@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6;
}
span {
  padding: 0;
}
.container {
  position: relative;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 0;
}

